<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggv.admin.mapper.AdminMapper">
	<select id="getSalesByMovie" resultType="sales">
		SELECT M_TITLE, COUNT(M_TITLE)*10000 SALES
		FROM RESERVEDSEAT
		JOIN SCREENING ON RESERVEDSEAT.SCR_PK_NO = SCREENING.SCR_PK
		JOIN MOVIE ON MOVIE.MOVIE_PK = SCREENING.MOVIE_PK_NO
		JOIN RESERVATION ON RESERVATION.RESERVATION_PK = RESERVEDSEAT.RESERVATION_PK_NO
		WHERE PAYMENT = 1
		GROUP BY M_TITLE
	</select>
	
	<select id="getTotalSales" resultType="long">
		SELECT COUNT(*)*10000 TOTALSALES
		FROM RESERVEDSEAT
		JOIN SCREENING ON RESERVEDSEAT.SCR_PK_NO = SCREENING.SCR_PK
		JOIN MOVIE ON MOVIE.MOVIE_PK = SCREENING.MOVIE_PK_NO
		JOIN RESERVATION ON RESERVATION.RESERVATION_PK = RESERVEDSEAT.RESERVATION_PK_NO
		WHERE PAYMENT = 1
		GROUP BY PAYMENT
	</select>
	
	<select id="getAdminResv" resultType="adminResv">
		SELECT 
	    M_TITLE, USERID, KAKAOUSERID, R.RESERVE_DATE, COUNT(*)*10000 sales
		FROM RESERVEDSEAT RS
		INNER JOIN SCREENING S ON RS.SCR_PK_NO = S.SCR_PK
		INNER JOIN MOVIE M ON M.MOVIE_PK = S.MOVIE_PK_NO
		INNER JOIN RESERVATION R ON R.RESERVATION_PK = RS.RESERVATION_PK_NO
		WHERE PAYMENT = 1
		GROUP BY R.RESERVE_DATE, M_TITLE, USERID, KAKAOUSERID
		ORDER BY RESERVE_DATE DESC
	</select>
</mapper>